<h3 id="bot-test">Bot Test</h3>

This is a test run of the <a href="/u/project-update-bot">Project Update Bot</a>.

This project is included in the test run because one of the maintainers of this project opted in for testing.

Thank you, for helping out. The patches posted to this issue should still apply to this project.
